{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 mx-auto">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="images/futuristic.jpg" data-slide-to="0" class="active"></li>
        <li data-target="images/gaming.jpg" data-slide-to="1"></li>
        <li data-target="images/gaming_never_dies.jpg" data-slide-to="2"></li>
        <li data-target="images/halo.jpg" data-slide-to="4"></li>
        <li data-target="images/stalker.jpg" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://marketplace.canva.com/EAE-roy2B2I/1/0/1600w/canva-blue-and-purple-cyberpunk-game-zone-facebook-cover-ZwAs2Ol1HMA.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://www.shutterstock.com/image-vector/futuristic-red-blue-abstract-gaming-600nw-1916887910.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://cdn.statically.io/img/timelinecovers.pro/facebook-cover/thumbs/video-game-collage-gamer-facebook-cover.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://marketplace.canva.com/EAE-xDPcMlI/2/0/1600w/canva-blue-and-red-neon-let%27s-play-gaming-facebook-cover-O46SN0P-smI.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://www.fbcoverlover.com/maker/covers-images/download/Halo-2-Facebook-Covers-FBcoverlover-facebook-cover.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<h1>Featured Games</h1>
<div class="featured-games">
    {% for game in featured_games %}
        <div class="product-card">
            <img src="{{ game.product.image.url }}" alt="{{ game.product.name }}">
            <div class="product-info">
                <h2>{{ game.product.name }}</h2>
                <p>{{ game.product.description }}</p>
                <p>Price: ${{ game.product.price }}</p>
                <p>Stock: {{ game.product.number_in_stock }}</p>
                <p>Rating: <span class="rating">{% for i in game.product.total_rating|to_int %}<i class="fas fa-star"></i>{% endfor %}</span></p>
                <a href="{% url 'product_detail' game.product.pk %}" class="add-to-cart">View Details</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
