:root {
    --rating-percentage: 0;
}

html {
   scroll-behavior: smooth;
}
body {
        background-color: white;
        /*background-color: #5787d4;*/
        /*font-family: "Times New Roman", sans-serif;*/
        margin: 0;
        padding: 0;
        min-height: 100vh; /*ensures footer*/
        display: flex;
        flex-direction: column;
        /*display: grid;*/
        /*grid-template-rows: 1fr auto;*/
}

header {
        margin: 0;
        background-color: gray;

}
header h3 {
        margin: 0;
}

nav {
        background-color: black;
        margin-left: 10%;
        margin-right: 10%;
        overflow: hidden;
        text-align: center;
}
nav a {
    float: left;
    transition: all 0.2s ease;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    overflow: auto;
    /*font-weight: bold;*/
}

nav a:hover {
    background-color: black;
    /*color: #0b9e8d;*/
    color: #368cbc;
    display: inline-block;
    overflow: hidden;
    transform: scale(1.2) translate(0px, -1.5px);
    text-decoration: none;
}

nav a.split {
    float: right;
    padding-left: 15px;
}

nav input[type=text] {
    /*float: right;*/
    background-color: black;
    color: white;
    margin: 8px;
    font-size: 17px;
    border: none;
    outline-style: none;
    box-shadow: none;
}


nav .search-container {
    float: right;
    overflow: hidden;
    /*padding-top: 6px;
    padding-right: 16px;
    padding: 10px;*/
    font-size: 14px;
}

nav button {
    font-size: 25px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
    margin: 11px 19px 10px 10px;

}

nav .search-container button:hover {
    background: black;
    color: #368cbc;
    transform: scale(1.2);
}

.mydropdown {
    float: left;
    /*overflow: hidden;*/
    display: inline-block;
}

.mydropdown .mydropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 171px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.mydropdown .mydropdown-content2 {
  display: none;
    /*border: solid 1px red;*/
  position: absolute;
  background-color: black;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.mydropdown .mydropdown-content a {
  color: white;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.mydropdown .mydropdown-content2 a {
  color: white;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


#dropdown-lang {
    transform: translate(0);
    min-width: 60px;
}

.mydropdown-content a:hover {background-color: #368cbc;}

.mydropdown:hover .mydropdown-content {
    display: block;
    transform: translate(-112px, 0px);
}

.mydropdown-content2 a:hover {background-color: #368cbc;}

.mydropdown:hover .mydropdown-content2 {
    display: block;
}

.mydropdown:hover button {
    transform: scale(1.2);
    background-color: black;
    color: #368cbc;
}

.games-icon {
    color: #368cbc;
    position: absolute;
    margin-left: -30px;
    margin-top: 7px;
    font-size: 27px;
    pointer-events: none;
}

.mydropdown:hover .games-icon {
    display: inline-block;
}

@keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 100%;}

}

.games-icon-2 {
    display: inline-block;
    /*transition: transform 1s;*/
    /*transition-delay: 1s;*/
    color: #368cbc;
    position: absolute;
    margin-left: -30px;
    margin-top: 7px;
    font-size: 27px;
    pointer-events: none;
}  /* not working in Django*/

nav .search-container .mydropdown .button-lang {
    font-size: 18px;
    transform: none;
    margin-top: 15px;
    margin-right: 0px;
    padding-bottom: 4px;
    padding-top: 2px;
    border: none;
    /*border: 1px solid;*/
}

.dropdown-seperator {
    margin-bottom: 4px;
    margin-top: 4px;
    border-top: 1px solid gray;
    background-color: black;
}

.search-container-top {
    text-align: center;
    max-width: 450px;
    margin-right: 8%;
    /*margin-left: 50%;*/
    margin-top: 50px;
    right: 0;
    overflow: hidden;
    border: none;
    display: inline-block;
}

.search-container-top table {
    margin-left: 12%;
}

.search-container-top input[type=text] {
    float: none;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border-radius: 50px 0px 0px 50px;
    font-size: 16px;
    /*margin-top: 30px;*/
    margin-bottom: 0px;
    padding: 12px;
    /*padding-right: 200px;*/
    width: 350px;
    border: none;
    outline-style: none;
    box-shadow: none;
    text-indent: 7px;
}

.search-container-top button {
    float: right;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px;
    margin-top: 0;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease;
    display: inline-block;
}

.search-container-top button:hover {
    color: #368cbc;
}

* {
  box-sizing: border-box;
}


#top-search {
    box-sizing: border-box;
}

.nav-bg1 {
    background-color: red;
}

.main-icon {
    background-color: #368cbc;
    font-size: 20px;
}

.button-main-icon {
    background-color: black;
    transition: all 0.3s ease;
    transform: rotate(-90deg) translate(0px, -35px);
    margin: 0;
    padding: 0;
    height: 60px;
    width: 130px;
}

.clear-float {
    clear: both;
}

.nav-style a.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}

#index-background {
    background-color: goldenrod;
}

#dog-background {
    background-color: #5787d4
}

table {
    margin: 0 auto;
}

table, th, td {
  border: none;
  border-collapse: collapse;
  text-align: center;
  /*min-width: 400px;*/

}

th {
    font-weight: bold;
    font-size: 20px;
    background-color: #0b9e8d;

}

.data-table, .data-table th, .data-table td {
    border: solid;
    width: 800px;
    font-weight: bold;
}

#dog-facts {
    margin:10%;
    padding:10px;

}
#dog-heading {
    color: brown;
    /*scroll-behavior: smooth;*/
}

.animal-heading {
    color: #80142c;
}

.big-font {
    font-size: 55px
}

.medium-font {
    font-size: 25px;
}

.some-padding {
    padding-left: 10px;
}

.bottom-nav {
    text-align: center;
    margin: auto;
    width: 260px;
    /*border: 1px solid;*/
    padding: 0px;
    background-color: #5787d4;
    /*color: white;*/
}

.bottom-nav a {
    color: black;
}

.bottom-nav a:hover {
    background-color: #5787d4
}

.front-animal {
    transition: all 0.2s ease;
}

.front-animal:hover {
    /*transform: scale(1.00);*/

}

#twitter:hover {
    color: lightblue;
}

#youtube:hover {
    color: #d42239;
}

#instagram:hover {
    color: #962fbf;
}

#facebook:hover {
    color: #1877F2;
}

#linkedin:hover {
    color: #0762C8;
}

.link-word {
    transition: all 0.2s ease;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.link-word:hover {
    transform: scale(1.2);
    color: #0b9e8d;
}

.firstdata {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.dog-table {
    margin-left: 13%;
    margin-right: 13%;
    /*border: 1px solid;*/
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    vertical-align: top;

}

#latin-name {
    font-size: 35px;
    margin-left: 0;
    margin-right: 550px;
    text-align: left;
    float: right;
    margin-top: 50px;
    font-style: italic;
    font-weight: bold;
}

.icon-heading {
    text-align: left;
    margin-left: 13%;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.dog-breed-pic {
    color: #470a17;
    font-style: italic;
    text-decoration: none;
    transition: all 0.2s ease;

}

.hide {
    visibility: hidden;
    height: 1px;
    width: 1px;
    position: absolute;
    text-align: center;
    transition: all 0.2s ease;
}

.hide2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
    position: absolute;
    text-align: center;
    transition: all 0.2s ease;
}

.footer {
    background-color: black;
    padding-top: 1px;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin-top: auto;
    color: white;
}

.footer a {
    color: white;
}

.footer .bottom-nav {
    background-color: black;
}

.footer .bottom-nav a:hover {
    background-color: black;
}

#main-logo {
    float: left;
    margin-left: 12%;
    margin-bottom: 10px;
}

.contact-form {
    /*background-color: black;
    color: white;*/
}

.contact-form input[type=text], textarea {
    background-color: black;
    font-size: 18px;
    color: white;
    border: none;
    box-sizing: border-box;
    min-width: 600px;
    outline-style: none;
    box-shadow: none;
    padding: 10px;
    resize: none;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.contact-form textarea {
    height: 200px;
}
.contact-form label {
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

.contact-form input[type=submit]:hover {
    background-color: #368cbc;

}

.contact-form-submit {
    min-width: 5%;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    transition: all 0.2s ease;
    border-radius: 5px;
    padding: 10px;

}

.slide-container {
    position: relative;
    text-align: center;
    margin: auto;
    margin-left: 22%;
    margin-right: 22%;
}

.slide-container .home-slides img {
    width: 100%;
    /*width: 768px;*/
    max-height: 525px;
    padding-bottom: -5px;
    border-radius: 20px;
}

.home-slides {
    position: relative;
}

.slide-text {
    position: absolute;
    text-align: center;
    font-family: Verdana;
    color: white;
    text-shadow: -3px 3px 7px black;
    font-size: 20px;
    bottom: 10px;
    padding: 10px;
    width: 100%;
}

.number-text {
    position: absolute;
    text-align: right;
    right: 15px;
    top: 10px;
    font-size: 20px;
    text-shadow: -5px 5px 10px black;
    font-family: Verdana;
    color: white;
}

.previous, .next-one {
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 47%;
    width: auto;
    padding: 10px;
    transition: all 0.3s ease;
    /*padding: 16px;*/
    font-size: 30px;
    margin-top: -10px;
    user-select: none;
}

.next-one {
    right: 0;
    border-radius: 10px 0 0 10px;

}

.previous {
    left: 0;
    border-radius: 0 10px 10px 0;
}


.previous:hover, .next-one:hover {
    background-color: black;
    color: #0b9e8d;
    opacity: 0.6;
}

.animation {
    animation-name: example;
    animation-duration: 2s;
}

#logout-button {
    font-size: 20px;
    padding-top: 4px;
    margin-right: 10px;
    transform: scale(1);
}

.dropdown-icon-alignment {
    float: right;
    text-align: right;
}

.div-logo-area {
    background-color: #368cbc;
    padding-top: 20px;
}

@keyframes example {
    from {opacity: 0.4}
    to {opacity: 1}
}


.cart-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-decoration: none;
    color: #368cbc;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
    text-align: right;
    margin-top: 50px;
    margin-right: 13%;
    position: relative;
    float: right;
    font-size: 30px;
}

.cart-icon-items {
    position: absolute;
    color: white;
    font-size: 13px;
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: -5px;
    right: -5px;

}


.cart-icon:hover {
    background-color: #368cbc;
    text-decoration: none;
    color: black;
}


.cart-icon .fa {
    font-size: 30px;
    transition: all 0.4s ease;
}


/*--------------------------------------------*/

.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px;
    unicode-bidi: bidi-override;
}

.star-rating input[type=radio] {
    display: none;
}

.star-rating label {
    color: #ddd;
    font-size: 30px;
    padding: 0;
    cursor: pointer;
}

.star-rating :checked ~ label {
    color: #f5b301;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5b301;
}
/*--------------------------------*/
.star-rating-div {
    font-size: 1.8em;
    position: relative;
    color: #ccc;
    width: 4.165em;
    display: inline-block;
}

.star-rating-div::before {
    content: "★★★★★";
    color: #ccc;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.star-rating-div::after {
    content: "★★★★★";
    color: #f5b301;
    z-index: 2;
    position: absolute;
    /*width: 0;*/
    width: var(--rating-percentage, 0);
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;

}


.image-hover img {
    transition: all 0.4s ease;
}

.image-hover img:hover {
    transform: scale(1.2);

}

.hover-icon{
    transition: all 0.4s ease;
    transform: scale(1.2);
    background-color: white;
    border: none;
    color: red;
    font-size: 40px;
}

.hover-icon:hover {
    transform: scale(1.2);
}


.quantity-input {
            width: 60px;
            padding: 5px;
            text-align: center;
            border: 1px solid #ddd;
            border-radius: 4px;
}
.quantity-wrapper {
    display: flex;
    align-items: center;
}
.quantity-button {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
}
.quantity-button:hover {
    background-color: #e2e6ea;
}
.quantity-button:active {
    background-color: #dae0e5;
}

.carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
        opacity: 0.4;
    }

.carousel-control-prev-icon:hover,
    .carousel-control-next-icon:hover {
        background-color: black;
        opacity: 0.9;
    }

.carousel-indicators li {
        background-color: gray;
        border: none;
}

.carousel-indicators li.active {
    background-color: black;
}

.carousel-indicators li:hover {
    background-color: black;
}

.alert-container {
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 200px;
    }

.alert {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.alert.error {
    background-color: #f8d7da;
    color: #721c24;
}

