.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px;
    unicode-bidi: bidi-override;
}

.star-rating input[type=radio] {
    display: none;
}

.star-rating label {
    color: #ddd;
    font-size: 30px;
    padding: 0;
    cursor: pointer;
}

.star-rating :checked ~ label {
    color: #f5b301;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5b301;
}