<div class="login-container">
        <h1>Login to account</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required placeholder="Enter Username">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Enter Password">
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>




