{% extends 'base.html' %}
{% block content %}

{% load static %}
    <head>
    <title>About us</title>
</head>
<body>
<h1>About us</h1>
<p>
    Hello there!<br>
  Welcome to NoBlueScreen, where passion for gaming meets international camaraderie! Our story began with a group of
    friends from around the world who shared a common love for gaming and a dream to create something extraordinary
    together. This is our journey.
</p>
<h3>A Shared Dream</h3>
<p>
    It all started in a vibrant Python language class. Our founding team hails from different areas of Europe, ranging
    from the North East corner of Estonia to the Adriatic coasts of Italy. Despite the distances and cultural
    differences, we connected through our love for games, spending countless hours exploring virtual worlds,
    strategizing in intense battles, and sharing laughs over late-night study and game sessions.
</p>
<h3>From Pixels to Reality</h3>
<p>
   During one of these nights, we were discussing how difficult it was to find certain games and gaming
    accessories in some areas. This sparked a lively discussion about the challenges each of us faced in accessing
    the latest gaming gear. Realizing that we weren't alone in our struggles, an idea began to take shape: why not
    create a platform that makes gaming products easily accessible to everyone, no matter where they are?
</p>
<h3>Overcoming Challenges</h3>
<p>
   Launching a global business was no small feat. We faced language barriers, time zone differences, and the
    complexities of international shipping. But our friendship and shared vision kept us going. We spent countless
    hours on video calls, brainstorming solutions and refining our business model. Each challenge we overcame brought
    us closer together and strengthened our resolve to succeed.
</p>
<h3>Our Values</h3>
<p>
   At NoBlueScreen, we believe in the power of community and the joy of gaming. We are committed to providing
    exceptional customer service, ensuring that every gamer feels valued and supported. Our diverse backgrounds
    enable us to understand and cater to the unique needs of gamers from different cultures. We strive to promote
    inclusivity and celebrate the global gaming community by offering products that appeal to a wide range of tastes
    and preferences.
</p>
<h3>Join Us on Our Journey</h3>
<p>
   Today, NoBlueScreen stands as a testament to the power of friendship, passion, and perseverance.
    We invite you to join our growing family of gamers and embark on exciting adventures with us. Whether you’re a
    casual player or a hardcore enthusiast, we have something for everyone. Explore our store, connect with fellow
    gamers, and let’s make gaming history together.
</p>
<p>
Thank you for being a part of our story. Welcome to NoBlueScreen – where the world of gaming is at your fingertips!
</p>
<footer>
    <section>
            NoBlueScreen Ltd.<br>
            Grove Street<br>
            Ganton<br>
            Los Santos<br>
    </section>
    <br>
    <section class="right">&copy; all rights reserved</section>
</footer>
</body>
{% endblock %}