{% extends 'base.html' %}

{% block content %}
{% load multiply %}
{% load static %}
<div class="container mt-5" style="max-width: 50%;">
    <h1 class="mb-4">Your cart items
        {% if item_total %}
            ({{ item_total }})
        {% endif %}</h1>
    <div style="padding-bottom: 20px;">{% for item in cart_items %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div style="min-width: 40%;">
                <img src="{{ item.product.image.url }}" height="22px" width="25px" alt="img">
                {{ item.product.name }} - {{ item.quantity }} x €{{ item.product.price }} </div>
            <span style="color: black; font-size: 14px;" class="badge badge-primary">Item Total: €{{ item.total_price }}</span>
            {#                    <form method="post" action="{% url 'remove_from_cart' item.product.id %}" style="display:inline;">#}
            {#                        {% csrf_token %}#}
            {#                        <button type="submit" class="btn btn-danger btn-sm ml-3">Remove</button>#}
            {#                    </form>#}
        </li>
    {% endfor %}
        <h3 style="text-align: right;">Order Total: {{ total }} €</h3>
    </div>
    <p><a href="{% url 'cart_detail' %}" class="btn btn-primary">Back To Cart</a>
        <a style="margin-left: 10px;" href="{% url 'home' %}" class="btn btn-outline-secondary">Continue Shopping</a>
    </p>
    <h1 class="mb-4">Shipping and Payment Information</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">First Name</label>
            {{ form.first_name }}
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            {{ form.last_name }}
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            {{ form.address }}
        </div>
        <div class="form-group">
            <label for="city">City</label>
            {{ form.city }}
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            {{ form.phone }}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="credit_card">Credit Card no.</label>
            {{ form.credit_card }}
        </div>
        <div class="form-group" style="display: flex; justify-content: space-between; width: 50%;">
            <div>
                <label for="exp_date">Exp. date</label>
                {{ form.exp_date }}
            </div>
            <div>
                <label for="cvc">CVC/CVV</label>
                {{ form.cvc }}
            </div>
        </div>
        <div style="padding-top: 20px;">
            <button type="submit" class="btn btn-success">Place Order</button>
        </div>
    </form>
</div>
{% endblock %}
