{% extends 'base.html' %}
{% block content %}
{% load static %}

<h2 style="text-align: center;">All Games</h2>
<div class="row">
    <div class="col-md-8 mx-auto">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="images/futuristic.jpg" data-slide-to="0" class="active"></li>
                <li data-target="images/gaming.jpg" data-slide-to="1"></li>
                <li data-target="images/gaming_never_dies.jpg" data-slide-to="2"></li>
                <li data-target="images/halo.jpg" data-slide-to="4"></li>
                <li data-target="images/stalker.jpg" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="height: 400px; width: 200px;" class="d-block w-100" src="https://marketplace.canva.com/EAE-roy2B2I/1/0/1600w/canva-blue-and-purple-cyberpunk-game-zone-facebook-cover-ZwAs2Ol1HMA.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img style="height: 400px; width: 200px;" class="d-block w-100" src="https://www.shutterstock.com/image-vector/futuristic-red-blue-abstract-gaming-600nw-1916887910.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img style="height: 400px; width: 200px;" class="d-block w-100" src="https://cdn.statically.io/img/timelinecovers.pro/facebook-cover/thumbs/video-game-collage-gamer-facebook-cover.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img style="height: 400px; width: 200px;" class="d-block w-100" src="https://marketplace.canva.com/EAE-xDPcMlI/2/0/1600w/canva-blue-and-red-neon-let%27s-play-gaming-facebook-cover-O46SN0P-smI.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img style="height: 400px; width: 200px;" class="d-block w-100" src="https://www.fbcoverlover.com/maker/covers-images/download/Halo-2-Facebook-Covers-FBcoverlover-facebook-cover.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="container mt-5 box">
    <div class="row row-cols-1 row-cols-md-4 g-3">
        {% for product in products %}
            <div class="col">
                <div class="card" style="height: 520px; text-align: center; border-radius: 20px; padding-bottom: 20px;">
                    <div style="max-height: 220px; padding-top: 15px;">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.pk %}" class="image-hover">
                                <img src="{{ product.image.url }}" alt="image of game"
                                     style="max-width: 100%; max-height: 100%;">
                            </a>
                        {% else %}
                            'Product image missing'
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div style="height: 80px;">
                            <h4>{{ product.name }}</h4>
                            <p style="font-size: 15px;">{{ product.platform }}</p></div>
                        <div style="text-align: center; display: inline-block;">
                            <p class="star-rating-div"
                               data-rating="{{ product.total_rating }}"></p></div>
                        <div style="margin-top: 20px; position: relative; text-align: center;">
                            {% if product.ratings.count == 1 %}
                                ({{ product.ratings.count }} review)
                            {% elif product.ratings.count == 0 %}
                                (Not rated yet)
                            {% else %}
                                ({{ product.ratings.count }} reviews)
                            {% endif %}
                        </div>
                        <div style="font-size: 25px;">
                            {% if request.session.currency == 'USD' %}
                                ${{ product.price_usd }}
                            {% else %}
                                €{{ product.price }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-text">
                        <div>
                            {% if product.number_in_stock > 0 %}
                                <div>in stock</div>
                                <div>
                                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                    </form>
                                </div>
                            {% else %}
                                <div>
                                    <div>out of stock</div>
                                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary" disabled>Sold Out</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<br>
<br>
{% endblock %}