{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div style="position: relative; padding-bottom: 20px; pointer-events: none; text-align: center;">
        <div style="text-align: center; position: absolute; width: 100%; z-index: 0;">
            {% if messages %}
                {% for message in messages %}
                    <li class="logout-message{% if message.tags %} {{ message.tags }} {% endif %}">
                        {{ message }}
                    </li>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div style="padding-top: 20px;"></div>
    <div class="row" style="margin: 0;">
        <div class="col-md-8 mx-auto">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators" style="margin-bottom: -10px;">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner" style="text-align: center;">
                    <div class="carousel-item active">
                        <a href="{% url 'product_detail' 30 %}">
                            <img style="height: 500px; width: 600px;"
                                 src="{% static 'media/Final_Fantasy_VII_Rebirth_PS5-600x500.png' %}"
                                 alt="First slide">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'product_detail' 2 %}">
                            <img style="height: 500px; width: 600px;"
                                 src="{% static 'media/Elden_Ring_Shadow_Of_The_Erdtree_Edition_XSX-600x500.png' %}"
                                 alt="Second slide">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'product_detail' 10 %}">
                            <img style="height: 500px; width: 600px;"
                                 src="{% static 'media/Ni_No_Kuni_II_Revenant_Kingdom_PS4-600x500.png' %}"
                                 alt="Third slide">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'product_detail' 22 %}">
                            <img style="height: 500px; width: 600px;"
                                 src="{% static 'media/Endling_Extinction_Is_Forever_NSW-600x500.png' %}"
                                 alt="Fourth slide">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'product_detail' 28 %}">
                            <img style="height: 500px; width: 600px;"
                                 src="{% static 'media/Dark_Souls_PS3-600x500.png' %}"
                                 alt="Fifth slide">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'product_detail' 18 %}">
                            <img style="height: 500px; width: 600px;"
                                 src="{% static 'media/Beyonetta_Vanquish_PS4-600x500.png' %}"
                                 alt="Sixth slide">
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div style="padding-top: 50px;"></div>
    <div class="container mt-5 box">
        <div class="row row-cols-1 row-cols-md-4 g-3">
            {% for product in page_obj %}  {# products #}
                <div class="col">
                    <div class="card"
                         style="height: 520px; text-align: center; border-radius: 20px; padding-bottom: 20px;">
                        <div style="max-height: 220px; padding-top: 15px;">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.pk %}" class="image-hover">
                                    <img src="{{ product.image.url }}" alt="image of game"
                                         style="max-width: 100%; max-height: 100%;">
                                </a>
                            {% else %}
                                'Product image missing'
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div style="height: 80px;">
                                <h4>{{ product.name }}</h4>
                                <p style="font-size: 15px;">{{ product.platform }}</p></div>
                            <div style="text-align: center; display: inline-block;">
                                <p class="star-rating-div"
                                   data-rating="{{ product.total_rating }}"></p></div>
                            <div style="margin-top: 20px; position: relative; text-align: center;">
                                {% if product.ratings.count == 1 %}
                                    ({{ product.ratings.count }} review)
                                {% elif product.ratings.count == 0 %}
                                    (Not rated yet)
                                {% else %}
                                    ({{ product.ratings.count }} reviews)
                                {% endif %}
                            </div>
                            <div style="font-size: 25px;">€{{ product.price }}</div>
                        </div>
                        <div class="card-text">
                            <div>
                                {% if product.number_in_stock > 0 %}
                                    <div>in stock</div>
                                    <div>
                                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                                        </form>
                                    </div>
                                {% else %}
                                    <div>
                                        <div>out of stock</div>
                                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary" disabled>Sold Out</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div style="text-align: center; display: block; margin-top: 20px; margin-left: auto; margin-right: auto; font-size: 20px;">
        <div class="pagination" style="text-align: center;">
        <span class="step-links" style="text-align: center;">
            {% if page_obj.has_previous %}
                <a href="?page=1"><i class="fa fa-fast-backward" aria-hidden="true"></i>
</a>
                <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left"
                                                                       aria-hidden="true"></i>
</a>
            {% endif %}

            <span class="current" style="text-decoration: none;">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i> 
</a>
                <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-fast-forward" aria-hidden="true"></i>
                </a>
            {% endif %}
        </span>
        </div>
    </div>
    <br>
    <br>
{% endblock %}

