{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<h1>Hello from product_detail.html!</h1>
<body>
<h1>{{ product.name }}</h1>
<p>Average Rating: {{ average_rating|default_if_none:"No ratings yet" }}/5 ★</p>
<p>Price: {{ product.price }} €</p>
<p>Platform: {{ product.platform }}</p>
<p>Genre:
    {% for genre in product.genre.all %}
        <ul>
            <li>{{ genre.name }}</li>
        </ul>
    {% endfor %}
<p>Date of release: {{ product.date_of_release }}</p>
<p>{{ product.description }}</p>
{% if product.image %}
    <img src="{{ product.image.url }}" alt="image of game" width="200" height="200">
{% else %}
    'Product image placeholder'
{% endif %}
{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <div class="star-rating">
            {% for i in "12345" %}
                <input type="radio" id="star{{ forloop.revcounter }}" name="star_rating"
                       value="{{ forloop.revcounter }}"
                       {% if user_rating and user_rating.star_rating == forloop.revcounter %}checked{% endif %}>
                <label for="star{{ forloop.revcounter }}">★</label>
            {% endfor %}
        </div>
        <textarea name="feedback" placeholder="Leave feedback">{{ user_rating.feedback }}</textarea>
        <button type="submit">Submit Rating</button>
    </form>
    {% if user_rating %}
        <p>Your Rating: {{ user_rating.star_rating }}★</p>
    {% endif %}
{% else %}
    <p><a href="{% url 'login' %}">Log in</a> to rate this product.</p>
{% endif %}
<script src="{% static 'js/scripts.js' %}"></script>
</body>
<a href="{% url 'home' %}">Homepage</a>
</html>




