{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>{{ product.name }}</h1>
<div>
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="image of game">
    {% else %}
        'Product image placeholder'
    {% endif %}
</div>
<p>{{ product.description }}</p>
<p>Platform: <a href="{% url 'gameplatform' product.platform.slug %}">{{ product.platform }}</a></p>
<p>Genres:
    {% for genre in product.genre.all %}
        <ul>
            <li>{{ genre.name }}</li>
        </ul>
    {% endfor %}
<p>Age rating: {{ product.age_rating }}</p>
<p>Date of release: {{ product.date_of_release }}</p>
<p>Price: {{ product.price }} €</p>
Rating:
<div class="star-rating-div" data-rating="{{ product.average_rating }}">
</div>
{% if product.ratings.count == 1 %}
    ({{ product.ratings.count }} review)
{% elif product.ratings.count == 0 %}
    (Not rated yet)
{% else %}
    ({{ product.ratings.count }} reviews)
    <p>
        <button type="button" id="addtocart">Add To Cart</button>
    </p>
{% endif %}
{#{% if user_rating %}#}
{#        <p>Your Rating:</p>#}
{#        <div class="star-rating-div" data-rating="{{ user_rating.star_rating }}">#}
{#        </div>#}
{#    {% endif %}#}
{% if user.is_authenticated %}
    <h3>Leave a review</h3>
    <form method="post">
        {% csrf_token %}
        <div class="star-rating">
            {% for i in "12345" %}
                <input type="radio" id="star{{ forloop.revcounter }}" name="star_rating"
                       value="{{ forloop.revcounter }}"
                       {% if user_rating and user_rating.star_rating == forloop.revcounter %}checked{% endif %}>
                <label for="star{{ forloop.revcounter }}">★</label>
            {% endfor %}
        </div>
        <textarea name="feedback" placeholder="Leave feedback">{{ user_rating.feedback }}</textarea>
        <button type="submit">Submit Rating</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Log in</a> to rate this product.</p>
{% endif %}
<br>
<h3>{% if product.ratings.count == 0 %}
    No reviews yet...
{% elif product.ratings.count == 1 %}
    1 Review:
{% else %}
    {{ product.ratings.count }} Reviews:
{% endif %}
</h3>
{% for rating in product_ratings %}
    <div>
        {% if rating.product.name == product.name %}
            <h4> Review By: {{ rating.user }}</h4>
            <p>
            <div class="star-rating-div" data-rating="{{ rating.star_rating }}">
            </div> {{ rating.star_rating }}/5
            <p>Comment: {{ rating.feedback }}
            </p>
        {% endif %}
    </div>
{% endfor %}
<script src="{% static 'js/scripts.js' %}"></script>
</body>
<a href="{% url 'home' %}">Homepage</a>
</html>




